

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myjx-button{
  @apply rounded-md bg-slate-200 hover:bg-slate-300 p-1;
}
.myjx-button2{
  @apply rounded-md bg-slate-300 hover:bg-slate-400 p-1 px-3 min-w-20 my-1;
}

.myjx-a{
  @apply rounded-md hover:bg-slate-600 ;
}

.myjx-input{
  @apply w-[100%] border-b border-gray-300 bg-transparent focus:border-gray-400 outline-none rounded-none;
}

.myjx-input2{
  @apply border-gray-300 bg-transparent focus:border-gray-400 outline-none rounded-none;
}

.myjx-input3{
  @apply w-[100%] shadow !border-b-2 border-dotted !border-red-500 bg-transparent focus:!border-red-600 outline-none rounded-none;
}

.myjx-inputP::placeholder { /* 標準語法 */
  color: rgb(95, 95, 95);
}

.myjx-textarea{
  resize: none; 
  @apply w-[100%] border-b border-gray-300 bg-transparent focus:border-gray-400 outline-none ;}

.myjx-LS {
  margin-left: 2.5%;
  appearance: none; 
  height: 1rem; 
  background-position: 45% 0%, 0% 0%;
  background-size: 80% 100%, 100% 100%;  
  border-radius: 0.2rem; 
  outline: none; 
  cursor: pointer; 
  margin-bottom: 0;
  margin-top: 0.4rem;
}

.myjx-LS::-webkit-slider-thumb {
  margin-top: -15px%;
  -webkit-appearance: none; 
  appearance: none;
  width: 0.5rem; 
  height: 1.4rem; 
  background: #464c4d;
  border-radius: 0.2rem;
  cursor: pointer;
}

.myjx-LS::-moz-range-thumb {
  margin-top: -0.3rem;
  -webkit-appearance: none; 
  appearance: none; 
  width: 0.5rem;
  height: 1.4rem; 
  background: #464c4d;
  border-radius: 0.2rem;
  cursor: pointer; 
}

.myjx-LS::-ms-thumb {
  margin-top: -0.3rem;
  -webkit-appearance: none;
  appearance: none; 
  width: 0.5rem;
  height: 1.4rem; 
  background: #464c4d; 
  border-radius: 0.2rem;
  cursor: pointer;
}

.myjx-datalist {
  display: flex;
  justify-content: space-between;
  width: 113%;
  margin-left: -6.5%;
  position: relative;
  margin-top: 2rem;
}

.myjx-datalist span {
  flex: 1;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.J-required::after{
  content: '*';
  color: rgb(184, 0, 0);
}

.markdown-preview ul {
  list-style-type: disc;
  padding-left: 20px;
}
.markdown-preview ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.markdown-preview h1{
  @apply text-2xl font-bold
}
.markdown-preview h2{
  @apply text-xl font-bold
}
.markdown-preview h3{
  @apply text-lg font-bold
}
.markdown-preview h4{
  @apply text-xl
}
.markdown-preview h5{
  @apply text-lg 
}


.debug *{
  border: solid 1px ;
}

.debug div{
  border: red 1px dashed;
}

.unfilled{
  box-shadow: 0 0 1px 1px red;
}

.scrolling-text {
  text-wrap: nowrap;
}

.scrolling-text:hover {
  text-wrap: wrap;
}

pre:has(> code)  {
  color:#e6eeff;
  background-color: #575b61;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left:  5px solid #313636 ;
  overflow-x: auto; 
  /* white-space: nowrap;  */
}

code{
  text-wrap: nowrap ;
  /* display: inline-block; */
  min-width: 100%; 
}